<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<div class="ps-page--single" id="about-us"><img src="img/bg/abount2.png" height="630px" width="100%" alt="">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Chào mừng đến với shop của chúng tôi</h4>
                <h3>Chào mừng bạn đến với cửa hàng giày của chúng tôi - nơi bạn sẽ khám phá một thế giới đa dạng về giày dép phù hợp cho mọi hoàn cảnh và phong cách. Chúng tôi tự hào mang đến cho bạn những sản phẩm giày chất lượng hàng đầu</h3>
                <p>Tại cửa hàng của chúng tôi, bạn sẽ tìm thấy sự kết hợp hoàn hảo giữa thời trang và sự thoải mái. Chúng tôi cam kết cung cấp những mẫu giày hiện đại, từ những đôi sneakers phong cách cho cuộc sống hàng ngày đến những đôi giày lịch lãm dành cho các dịp quan trọng. Khám phá sự đa dạng trong thiết kế và màu sắc, đảm bảo bạn luôn tìm thấy đôi giày ưa thích của mình.

                    Đội ngũ nhân viên chuyên nghiệp của chúng tôi luôn sẵn sàng để tư vấn và hỗ trợ bạn trong việc lựa chọn giày phù hợp nhất. Với sự chăm sóc và tận tâm, chúng tôi sẽ đảm bảo bạn có trải nghiệm mua sắm vượt trội.
                    
                    Hãy đến và khám phá bộ sưu tập giày đa dạng tại cửa hàng của chúng tôi ngay hôm nay. Chúng tôi tin rằng bạn sẽ tìm thấy đôi giày ưng ý và không thể bỏ lỡ.</p>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cube"></i>
                            <h4>00M</h4>
                            <p>Sản phẩm để bán</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-store"></i>
                            <h4>00M</h4>
                            <p>Người bán đang hoạt động trên Martfury</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-bag2"></i>
                            <h4>00M</h4>
                            <p>Người mua đang hoạt động trên Martfury</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cash-dollar"></i>
                            <h4>$00M</h4>
                            <p>Tổng doanh thu hàng hóa hàng năm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
